.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  @include media-mobile {
    flex-direction: column;
    height: 110px;
  }
}

.btn-logout {
  display: inline;
  cursor: pointer;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0;
  border: none;
}