.logo {
  font-family: 'Bruno Ace', cursive;
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &-first {
    color: $color-primary;

    @include media-tablet {
      font-size: 27px;
    }

    @include media-mobile {
      font-size: 20px;
    }
  }

  &-second {
    color: $color-secondary;

    @include media-tablet {
      font-size: 27px;
    }

    @include media-mobile {
      font-size: 20px;
    }
  }
}
